html {
  scroll-behavior: smooth;
}

.spin-cw {
  animation: spin-cw 0.5s linear infinite;
}

@keyframes spin-cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
